# Ignore python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv
.venv
env

# Ignore git history
.git
.gitignore

# Ignore local database files
*.db
test.db

# Ignore Docker metadata
Dockerfile
docker-compose.yml
README.md
